.footer {
  background-color: #313131;
  padding-bottom: 2%;
}
.orange {
  color: $primary-color;
}
.body2 {
  color: $tertiary-color;
  align-self: flex-start;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: column;
}
.footerlists {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}
.down {
  margin-top: 4%;
}
.footericons {
  display: flex;
  justify-content: space-around;
}
