.wholeheader {
  display: flex;
}
.headingpgraph {
  width: 70%;
  align-self: flex-start;
  opacity: 55%;
}
.headerbutton {
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
